    html {
        background: rgb(255, 27, 215);
        background: linear-gradient(166deg, rgba(255, 27, 215, 1) 16%, rgba(0, 212, 255, 1) 100%);
        min-height: 99.9%;
        font-family: 'Noto Sans', sans-serif;
    }
    
    main {
        width: 550px;
        height: 850px;
        margin: auto;
        border: 2px black solid;
        border-radius: 5%;
    }
    
    nav {
        margin-left: auto;
    }
    /* do not style h2 */
    
    h1 {
        font-size: 18pt;
    }
    
    h2 {
        padding-right: 15px;
    }
    
    hr {
        border: solid 2px black;
    }
    
    i {
        padding: 3px;
    }
    
    p {
        text-align: left;
    }
    
    span {
        color: darkslategray;
        font-weight: bold;
    }
    
    button {
        border: solid 1px grey;
        border-radius: 5px;
    }
    
    .bgc {
        background-color: whitesmoke;
    }
    
    .fa-sm {
        position: absolute;
        font-size: 7px;
        padding-bottom: 2px;
    }
    
    .float {
        float: right;
    }
    
    .blue {
        color: rgb(22, 102, 252);
    }
    
    .block {
        display: block;
    }
    
    .i-flex {
        display: inline-flex;
    }
    
    ._150x150 {
        width: 100px;
        height: 100px;
    }
    
    .top-margin {
        margin-top: 22px;
    }
    
    .top-padding {
        padding-top: 20%;
    }
    
    .bottom-padding {
        padding-bottom: 10px;
    }
    
    .left-margin {
        margin-left: 30px;
    }
    
    .left-padding {
        padding-left: 20px;
    }
    
    .right-margin {
        margin-right: 15px;
    }
    
    .round-img {
        border-radius: 100%;
    }
    
    .first-count {
        margin-left: 10%;
    }
    
    h1.top-padding {
        padding: 5px 15px 0 75px;
    }
    
    i.float {
        padding: 20px 15px 0 35px;
    }
    
    i.blue.float {
        padding-left: 10px !important;
        font-size: 9px;
        margin-top: 5px;
    }
    
    i.fa-ellipsis-v {
        padding-left: 15px;
    }
    
    h2.left-padding {
        padding-left: 45px;
    }
    
    h2.left-padding.less {
        padding-left: 25px;
    }
    
    div.margin {
        position: absolute;
        margin: 40px 20px 0 -40%;
    }
    
    h1.bottom-padding,
    p.bottom-padding,
    a.bottom-padding {
        margin: 0;
        font-weight: 400;
    }
    
    p.bottom-padding {
        padding-bottom: 0;
    }
    
    p.i-flex {
        padding-top: 55px;
    }
    
    h1.top-margin {
        margin-top: 15px;
        font-size: 18px;
    }
    
    button._150x150 {
        height: 25px;
        width: 40%;
    }
    
    div.highlights {
        display: inline-flex;
    }
    
    div.highlights-img {
        background-color: black;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        margin-right: 40px;
        margin-top: 25px;
        background-size: contain;
    }
    
    div.highlights-text {
        font-size: 12px;
        font-weight: bold;
        margin-left: 4px;
    }
    
    .fa-th {
        background-color: black;
        color: aliceblue;
        margin: 15px;
    }
    
    #notificationsBar {
        float: right;
        padding-right: 25px;
        align-items: baseline;
    }
    
    #time {
        padding-left: 15px;
        display: flexbox;
        position: relative;
    }
    
    #userBar {
        display: flex;
        padding-top: 15px;
    }
    
    #leftUser {
        padding-left: 85%;
    }
    /* .menu-list {
        float: right;
        display: inline-flex;

    } */
    
    #posts {
        position: relative;
        padding-right: 25px;
        margin-left: -5px;
    }
    
    #followers {
        margin-left: 35px;
        padding-right: 45px;
    }
    
    #bio {
        padding: 0 40px 15px;
    }
    
    #menuBoxes {
        text-align: center;
        width: 100%;
        /* color: ; */
    }
    
    #belief {
        background-image: url("https://scontent-sea1-1.cdninstagram.com/v/t51.2885-15/s150x150/81896423_996984830685300_1880726709432390880_n.jpg?tp=1&_nc_ht=scontent-sea1-1.cdninstagram.com&_nc_ohc=rRYwMzm7QCIAX-L0rct&edm=AGW0Xe4AAAAA&ccb=7-4&oh=7198e3f4327f3dea73671e9289db0fb1&oe=60A18B71&_nc_sid=acd11b");
    }
    
    #love {
        background-image: url("https://scontent-sea1-1.cdninstagram.com/v/t51.12442-15/e35/c0.437.1125.1125a/s150x150/67950774_2785120601551069_8025463241785829023_n.jpg?tp=1&_nc_ht=scontent-sea1-1.cdninstagram.com&_nc_cat=1&_nc_ohc=qRSm7nogqLQAX9-Tdkg&edm=AGW0Xe4AAAAA&ccb=7-4&oh=c58cafc11d4b4d4d79e9052371911c21&oe=607D884F&_nc_sid=acd11b");
    }
    
    #flames {
        background-image: url("https://scontent-sea1-1.cdninstagram.com/v/t51.12442-15/e35/c0.437.1125.1125a/s150x150/62382008_403311930273165_6573376933535405736_n.jpg?tp=1&_nc_ht=scontent-sea1-1.cdninstagram.com&_nc_cat=1&_nc_ohc=QF3N6PZIPV8AX_kcuo9&edm=AGW0Xe4AAAAA&ccb=7-4&oh=b81d57e65bc043087a74d4750ae8919c&oe=607D7ACA&_nc_sid=acd11b");
    }
    
    #likes {
        background-image: url("https://scontent-sea1-1.cdninstagram.com/v/t51.12442-15/e15/c10.213.662.662a/s150x150/49847802_642249926228819_5229296349074870035_n.jpg?tp=1&_nc_ht=scontent-sea1-1.cdninstagram.com&_nc_cat=1&_nc_ohc=ptqddBMD_p4AX-8Ij0D&edm=AGW0Xe4AAAAA&ccb=7-4&oh=e21a7b6b83ffbcf5467648e9931a63f1&oe=607DBCC2&_nc_sid=acd11b");
    }
    
    #self-love {
        background-image: url("https://scontent-sea1-1.cdninstagram.com/v/t51.12442-15/e15/c30.290.662.662a/s150x150/28157195_1870888152984531_2858589310045650944_n.jpg?tp=1&_nc_ht=scontent-sea1-1.cdninstagram.com&_nc_cat=1&_nc_ohc=fNTEVITX7iQAX9HepCf&edm=AGW0Xe4AAAAA&ccb=7-4&oh=7d7af43085baf463a5217935beca0ac6&oe=607D8341&_nc_sid=acd11b");
    }
    
    @media all and (min-width:600px) {
        div.margin {
            position: absolute;
            margin: 40px 20px 0 -35%;
        }
    }